*~
_*
*.o
*.d
*.asm
*.sym
*.img
*.tar
vectors.S
bootblock
entryother
initcode
initcode.out
kernel
kernelmemfs
mkfs
.gdbinit
dist/
dist-test/

# tex files
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz

